In [1]:
import orjson as json
import pandas as pd

In [2]:
from features import chat_features

In [3]:
import tqdm

In [4]:
train_features = []
for line in tqdm.tqdm(open('../data/train_matches.jsonl')):
    game = json.loads(line)
    train_features.append(chat_features(game))

39675it [01:00, 655.27it/s]

In [5]:
test_features = []
for line in tqdm.tqdm(open('../data/test_matches.jsonl')):
    game = json.loads(line)
    test_features.append(chat_features(game))

10000it [00:16, 593.59it/s]

In [12]:
train_features = pd.DataFrame(train_features)
test_features = pd.DataFrame(test_features)

In [15]:
train_features

,chat_len,r_chat_msg,d_chat_msg,r1_chat_msg,r2_chat_msg,r3_chat_msg,r4_chat_msg,r5_chat_msg,d1_chat_msg,d2_chat_msg,d3_chat_msg,d4_chat_msg,d5_chat_msg
0,11,11,0,3,0,3,0,5,0,0,0,0,0
1,10,8,2,0,8,0,0,0,0,0,0,2,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2,2,0,0,0,2,0,0,0,0,2,0
4,3,0,3,0,0,0,0,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39670,23,6,17,2,0,3,0,1,9,6,0,2,0
39671,0,0,0,0,0,0,0,0,0,0,0,0,0
39672,23,9,14,3,3,1,2,0,10,3,0,1,0
39673,4,2,2,1,1,0,0,0,0,0,0,2,0
39674,13,4,9,1,0,3,0,0,5,0,0,4,0

In [16]:
train_features.to_csv('../features/chat_train.csv', index=False)
test_features.to_csv('../features/chat_test.csv', index=False)